body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{ 
    font-size: 50px;
}
h2{
    font-size: 33px;
}
.inferior{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-right: 5%;
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(red, tomato);
    padding: 6px 25px;
    border-radius: 5px;
    font-weight: 800;

}
.first-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    text-align: justify;
}
.box-shadow{
    box-shadow: 10px 10px 80px gray;
    width: 40%;
    padding-left: 5%;
    padding-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}
.Third-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experience-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(red,purple);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}